include *.cc
include *.h
include LICENSE
include LICENSE.leveldb
include LICENSE.snappy
include leveldb.spec
include leveldb/include/leveldb/*.h
include leveldb/db/*.h
include leveldb/table/*.h
include leveldb/util/*.h
include leveldb/port/*.h
include leveldb/db/*.cc
include leveldb/table/*.cc
include leveldb/util/*.cc
include leveldb/port/*.cc
include leveldb/*.cc
include leveldb/AUTHORS
include snappy/*.h
include snappy/*.cc
include snappy/AUTHORS
